@tailwind base;
@tailwind components;
@tailwind utilities;

.bgFit {
  @apply bg-cover bg-no-repeat bg-center overflow-hidden;
}
.errorBg {
  @apply bgFit;
  background-image: url("./assets/errorPageBg.svg");
}

.heroBg {
  @apply bgFit;
  background-image: url("./assets/hero-bg.jpg");
}
.loginBg {
  @apply bgFit;
  background-image: url("./assets/loginBg.jpg");
}
.regBg {
  @apply bgFit;
  background-image: url("./assets/regBg.jpg");
}
